.characterModal, .characterModal .modal-dialog {
    min-width: 80vw;
}
.charInput{
    background-color: #daebf3;
}
.charSheet {
    @media screen and (min-width:992px) {
        font-size: 1.2em;
    }
    textarea {
        &:focus {
            outline: none;
        }
        line-height: 16px;
        padding: 0;
        width: 100%;
        border: none;
        resize: none;
        background-position-y: -2px;
    }
}

.charSheetInfo{
    display: flex;
    align-items: center;
}

.charInputField{
    border: none;
    border-bottom: 1px solid $dark;
}
.charLabel{
    color: gray;
}

.charSelect > div{
    border: none;
    div > span {
        display: none;
    }
}

.charInputField{
    &:focus {
        outline: none;
    }
    input {
        @extend .charInputField;
    }
}
.charLvl{
    max-width: 10%;
    text-align: center;
}
.charRndBorder{
    background-color: white;
    border: 2px solid black;
    border-bottom-right-radius: 15px 50%;;
    border-bottom-left-radius: 15px 50%;;
    border-top-right-radius: 15px 50%;;
    border-top-left-radius: 15px 50%;;
    &:nth-child(1) {
        margin-right: -6px;
        @media screen and (min-width:768px) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }
    /* overflow: hidden; */
    margin-bottom: 16px;
}

.charBox {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 0.65em;
    margin-bottom: 0px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    > label {
        margin-top: 0.25rem;
    }
    label {
        text-transform: uppercase;
    }
    .looksLabel {
        color: #333;
    }
    div .otherProfs {
        width: 100%;
        text-align: left;
        font-style: italic;
    }
    .skillName {
        text-transform: none;
        font-size: 11px;
    }
}

.charBox.gray {
    background-color: #dedfdf;
    border-radius: 8px;
    padding: 10px;
} 
.charBox.white {
    @extend .charBox, .gray;
    background-color: white;
}

.statBoxContainer{
    max-width: 130px;
}

.charStatBox {
    font-size: 9px;
    background-color: white;
    font-weight: bold;
    border: 2px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    height: 90px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    text-transform: uppercase;
    &.combat {
        margin-top: 0px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        margin: 5px 0 10px;
    }
    &.shield{
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }
}



.charStatboxMod {
    margin-top: 2px;
    font-weight: 600;
    text-align: center;
    font-size: 24px;
    input, span {
        &:focus{
            outline: none;
        }
        border: none;
        width: 100%;
        text-align: center;
        font-size: 24px;
        padding: 5px 0;
        margin-bottom: 16px;
    }
    .hitDie{
        margin: 0;
        max-width: 30%;
    }
}

.charStatboxVal {
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    margin: -35px auto 10px;
    width: 60%;
    input {
        /* background-color: black; */
        border-radius: 50%;
        overflow: hidden;
        padding: 0;
        border: none;
        width: 100%;
        text-align: center;
        font-size: 14px;
        &:focus {
            outline: none;
        }
    }
}

.charStatRow{
    border: 2px solid black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 35px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 23px;

    &.rounded .charStatRowVal {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        left: -7px;
        top: -9px;
        padding-top: 2px;
        input {
            margin-left: 2px;
            background-color: transparent;
        }
    }
}

.charStatRowVal{
    border: 3px solid black;
    background-color: white;
    width: 45px;
    display: inline-block;
    font-weight: bold;
    height: 45px;
    position: absolute;
    left: -4px;
    top: -7px;
    input {
        margin-bottom: 0;
        text-align: center;
        font-size: 20px;
        width: 100%;
        height: 100%;
        border: 0;
        &:focus {
            outline: none;
        }
    }
    p {
        @extend input;
        font-weight: normal;
        margin-bottom: 0;
        margin-top: 3px;
    }
}

.charStatRowLabel{
    margin-left: 50px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    padding: 8px 0;
    font-size: 10px;
    width: calc(100% - 65px);
}

.charSaveThrows, .charSkills {
    text-align: left;
}

.charSkills {
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
        border-bottom: 1px solid black;
        padding: 0 2px;
        margin: 0 2px;
        text-align: center;
    }
}

.charSkillsCheckbox {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    &.proficient {
        background-color: $primary;
    }
    &.expertise {
        background-color: $secondary;
    }
}

.charSkills .charSkillDefaultStat {
    border-bottom: none;
    color: #909090;
}

.heartHP{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    aspect-ratio: 1/1;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    input {
        &:focus{
            outline: none;
        }
        text-align: center;
        border: none;
    }
    .currentHp {
        input {
            width: 70%;
            font-size: 3.5em;
            padding: 0;
        }
    }
    .tempHp{
        position: absolute;
        right: 10px;
        top:-2px;
        min-width: 35px;
        font-size: 1.25em;
        input {
            max-width: 25px;
        }
    }
    .maxHp {
        position: absolute;
        bottom: 5px;
        input {
            font-size: 1.25em;
            max-width: 30px;
        }
    }
    .hpWrapper{
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 12px;
        padding-left: 2px;
        padding-right: 2px;
        overflow: hidden;
    }

    .hitDieContainer{
        max-width: 60%;
    }
}

.deathSaveContainer {
    background-color: white;
    .charStatDeathSave.failure .charSkillsCheckbox.proficient{
        background-color: rgb(214, 47, 67)
    }
}

.grayLabel{
    color: #909090;
}

//Equipment
.charCoins {
    position: relative;
    margin: 5px 0;
    &:last-child {
        margin-bottom: 0;
    }
    .charCoinsLabel{
        margin-left: -10px;
        border: 2px solid black;
        background-color: white;
        border-radius: 50% 0 0 50%;
        width: 50px;
        padding: 5px;
        font-size: 12px;
        display: inline-block;
        z-index: 0;
        position: absolute;
        left: -15px;
        text-align: left;
        padding-left: 8px;
        label {
            margin: 0;
            font-weight: bold;
            color: rgb(100, 100, 100);
        }
    }
    .charCoinsValue{
        margin: 0;
        border: 2px solid black;
        background-color: white;
        max-width: 90px;
        max-height: 45px;
        border-top-left-radius: 15px 50%;
        border-bottom-left-radius: 15px 50%;
        border-top-right-radius: 15px 50%;
        border-bottom-right-radius: 15px 50%;
        z-index: 1;
        position: relative;
        top: -5px;
        left: 5px;
        input {
            border-top-left-radius: 15px 50%;
            border-bottom-left-radius: 15px 50%;
            border-top-right-radius: 15px 50%;
            border-bottom-right-radius: 15px 50%;
            width: 90%;
            border: none;
            margin: 3px 0;
            padding: 6px 0;
            text-align: center;
            font-size: 14px;
            &:focus {
                outline: none;
            }
        }
    }
}

.coinsContainer{
    width: 100px;
}

.coinPic{
    max-width: 20px;
    aspect-ratio: 1/1;
}

//extra personality & notes
.charPersonality {
    @extend .charBox, .white;
    border-radius: 8px 8px 0 0;
    margin-bottom: 5px;
    padding: 2px;
    label {
        font-size: 1.2em;
    }
    textarea {
        font-size: 1.5em;
    }
}

.notesContainer{
    border-top: 2px solid black;
}
.charLooks {
    padding: 4px;
    .row {
        margin: 0 1px;
    }
    .col-4, .col-3 {
        padding: 0;
    }
    input {
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
        text-align: center;
        &:focus {
            outline: none
        }
    }
}
.miscNotes{
    padding: 4px;
    textarea {
        font-size: 1.1em;
    }
}