.banner {
    padding: 0;
    position: relative;
    .bannerImg {
        min-width: 100%;
        min-height: 55vh;
        background: url("https://i.imgur.com/83BLlEX.jpg") no-repeat center;
        background-size: cover;
    }
    .headline {
        font: 500 3.5rem 'Cinzel', serif;
        color: $secondary;
        text-shadow: 0.05em 0.05em 0.1em black, 0.05em 0.05em 0.3em black;
        position: absolute;
        text-align: center;
        bottom: 0;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 100%;
        padding-bottom: 12px;
        a {
            transition: 0.3s font-size ease;
            &:hover{
                text-decoration: none;
                font-size: 3.7rem;
            }
        }
    }
}
.headlineLog {
    h1 {
        margin: 0 auto;
        font: 500 3rem 'Cinzel', serif;
        color: $secondary;
    }

}
.createFromUrlWrapper{
    text-align: center;
    img {
        height: 400px;
    }
}