#registrationPage {
  background-color: #ccccccc1;
  min-height: 75vh;
  >.container {
    display: flex;
    align-items: center;
}
}

.headingMsg {
  font-family: 'Cinzel', serif;
  @media screen and (max-width:600px) {
    font-size: 1.5em;
  }
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: $light;
  @media screen and (min-width:600px) {
    padding:48px
  }
}

.tab {
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center;
  .tablinks {
    width: 50%;
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-weight: 600;
    @media screen and (min-width:600.5px) {
      font-size: 1.2em;
    }
    &:hover {
      background-color: #ddddddab;
    }
    &.activeSign {
      color: $secondary;
      background-color: $light;
      border-top: 5px solid $secondary;
    }
  }
}