#dogeLogo {
  max-width: 75px;
}

.sidebar {
  position: absolute;
  top: 0px;
  left: -300px;
  min-height: 100%;
  width: 300px;
  transition: left 0.3s ease-in-out;
  background-color: $primary;
  color: $light;
  @media screen and (max-width:768px) {
    width: 250px;
  }
}

.sidebar-toggle {
  position: absolute;
  top: 0;
  right: -42px;
  z-index: 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 6px 12px 9px;
  transition: all 0.25s ease-in-out;
  svg {
    color: white;
    transition: all 0.5s ease-in-out;
  }
  @media screen and (max-width:768px) {
    right: -90px;
    padding-left: 60px;
  }
}
.sidebarRotated {
  @media screen and (max-width:768px) {
    right: -42px;
    padding-left: 12px;
  }
  svg {
    transform: rotateY(-180deg);
  }
}

.gameControlsWrapper {
  @extend .sidebar-toggle;
  text-align: center;
  background-color: $primary;
  position: absolute;
  border-radius: 0.375rem;
  top: 30%;
  padding: 0;
  right: -60px;
  .gameControlsMenu {
    margin-bottom: 0;
    padding: 0;
  }
  .gameControlsContent {
    .gameControlsItem{
      list-style: none;
      font-size: 1.1em;
      display: flex;
      align-items: center;
      padding: 6px 12px 9px;
      border-radius: 0.375rem;
      margin-bottom: 2px;
      cursor: pointer;
      min-width: 100%;
      &:hover {
        background-color: #69919c,
      }
      span {
        color: $light;
        display: flex;
        align-items: center;
        &:hover {
          background-color: inherit;
          border: none;
        }
      }
    }
    .layer {
      position: relative;
      justify-content: space-between;
      .gameControlsLayer {
        background-color: $primary;
        border-radius: 10px;
        padding: 12px 0;
        position: absolute;
        right: -144px;
        top: -15px;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease;
      }
      &:hover .gameControlsLayer {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}


.content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 100%;
  transition: left 0.3s ease-in-out;
  background-color: $dark;
}
.sidebar.open {
  left: 0;
}
.content.open {
  left: 300px;
}
#gameScreen, #gameScreenBottom {
  border: 1px solid #ccc;
  background-color: white
}
#canvasContainer {
  .canvas-container {
    margin: auto auto;
    text-align: center;
  }
}

.playingPage {
  position: relative;
}

.gameSideBarCategory{
  border-bottom: 1px solid $light;
  margin-top: 0.3rem;
}
.gameSideBarEntry {
  display: flex;
  align-items: center;
  border-top: 1px solid $light;
  border-radius: 0;
  &.noBorder {
    border: 0;
  }
}

// Custom Context Menu (CTM)
.custCTMShadow {
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
  background-color: $primary;
}
.custCTMWrapper {
  @extend .custCTMShadow;
  position: absolute;
  visibility: hidden;
  width: 200px;
  border-radius: 10px;
  color: $light;
  top: 0;
  .custCTMMenu {
    margin-bottom: 0;
    padding: 10px 0;
  }
  .custCTMContent {
    .custCTMItem{
      list-style: none;
      font-size: 1.1em;
      min-height: 50px;
      display: flex;
      align-items: center;
      padding: 0 5px 0 10px;
      border-radius: 5px;
      margin-bottom: 2px;
      cursor: pointer;
      min-width: 100%;
      &:hover {
        background-color: #69919c,
      }
      span {
        font-size: 1.2em;
      }
    }
    .create {
      position: relative;
      justify-content: space-between;
      .createMenu {
        @extend .custCTMShadow;
        border-radius: 10px;
        padding: 12px 0;
        position: absolute;
        width: min(200px);
        right: -200px;
        top: -11px;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease;
      }
      &:hover .createMenu {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
.tokenCTMWrapper {
  @extend .custCTMWrapper;
  .tokenCTMMenu {
    @extend .custCTMMenu;
  }
  .tokenCTMContent {
    @extend .custCTMContent;
    .tokenCTMItem{
      @extend .custCTMItem;
      &.current {
        background-color: #69919c8a
      }
    }
    .send2Layer{
      @extend .create;
      .send2LayerMenu{
        @extend .createMenu;
      }
    }
  }
}
