//props to colormind.io for being a great website for generating color schemes
$theme-colors: (
    primary: #7FA6B1,
    secondary: #CA9534,
    light: #F8F1F1,
    dark: #413939,
    danger: #D42A25,
    );
    $primary: #7FA6B1;
    $secondary: #CA9534;
    $light: #F8F1F1;
    $dark: #413939;
    $danger: #D42A25;